@model IEnumerable<MvcZooStore.Models.OrderDetail>
@{
    ViewBag.Title = "Orders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    string nameparam = ViewBag.param;
    int c = 0;
}
@Html.ActionLink("Change password ", "ChangePassword", "Account")

   <h2>Orders: @nameparam</h2>

<table>
    @foreach (var item in Model)
    {
        if (Request.IsAuthenticated && User.Identity.Name == "Administrator")
        {

            if (c != item.Order.OrderID)
            {
        <tr>
            <td>Order № @Html.DisplayFor(modelItem => item.Order.OrderID)
                @Html.ActionLink("Details", "UserCartDetails", "Checkout", new { idparam = item.Order.OrderID }, "")
            </td>
        </tr>
                c = item.Order.OrderID;
            }
        }
        else
        {
            int i = String.Compare(item.Order.Username, nameparam, false);
            if (i == 0)
            {
                if (c != item.Order.OrderID)
                {
        <tr>
            <td>Order № @Html.DisplayFor(modelItem => item.Order.OrderID)
                @Html.ActionLink("Details", "UserCartDetails", "Checkout", new { idparam = item.Order.OrderID }, "")
            </td>
        </tr>
                    c = item.Order.OrderID;
                }
            }
        }
    }
</table>
